@charset "UTF-8";
/* Shtum | CSS mobile stylesheet | Copyright (c) 2013. Perceptive interactive (perceptiveinteractive.com) */

/* Globals ******************************************************************************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 10px "Bariol", Helvetica, Arial, "Lucida Grande", sans-serif; }

body {
  font-size: 1.6em;
  line-height: 1.25em;
  color: #3d4044;
  background: #f0efea; }

a img, figure img, fieldset {
  border: 0; }

a {
  color: #00b5dc;
  text-decoration: none; }

/*a:active{color:#fff;background-color:#00b5dc;}*/
label {
  display: block;
  vertical-align: middle;
  cursor: pointer; }

label,
select,
input,
textarea,
button {
  font: 1em "Bariol", Helvetica, Arial, "Lucida Grande", sans-serif; }

button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: auto;
  overflow: visible; }

textarea:not(.tags)::-webkit-scrollbar {
  width: 5px; }

textarea:not(.tags)::-webkit-scrollbar-track {
  background: transparent; }

textarea:not(.tags)::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #d8d8d8; }

textarea:not(.tags)::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; }

::-webkit-selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #cfcec6; }

:-moz-placeholder {
  font-style: italic;
  color: #cfcec6; }

::-moz-placeholder {
  font-style: italic;
  color: #cfcec6; }

:-ms-input-placeholder {
  font-style: italic;
  color: #cfcec6; }

/* Typography ***************************************************************************************/
h1, h2, h3, h4 {
  display: block;
  clear: both; }

h1 {
  font-size: 1.5em; }

/* 24px on 16px base font size */
h2 {
  font-size: 1.125em; }

/* 18px on 16px base font size */
.page-title {
  font-size: 1.25em;
  padding: .938em 10px;
  margin: 0;
  min-height: 54px;
  font-weight: 100;
  text-align: center;
  background: rgba(255, 255, 255, 0.4); }

.page-title em {
  font-size: .7em;
  display: block; }

/* Graphics *****************************************************************************************/
/* 1. Icons ***/
.icon {
  display: block;
  width: 40px;
  height: 35px;
  text-align: center;
  border-radius: 5px;
  background-color: #cfcec6;
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat;
  text-indent: -9999em;
  box-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4), inset 0px -1px 0 rgba(0, 0, 0, 0.2);
  position: relative; }

.icon.narrow {
  width: 34px; }

.icon:active,
.icon.active {
  background-color: #00b5dc; }

.icon .notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  color: #fff;
  background: #e24948;
  border-radius: 8px;
  font-size: .625em;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }

.icon.menu {
  background-position: 0 0; }

.icon.messages {
  background-position: 0 -34px; }

.icon.invites {
  background-position: 0 -68px; }

.icon.profile {
  background-position: 0 -102px; }

.icon.locked {
  background-position: 0 -136px;
  background-color: transparent; }

.icon.show-action {
  background-position: 0 -170px;
  background-color: #00b5dc; }

.icon.hide-action {
  background-position: 0 -204px;
  background-color: #00b5dc; }

.icon.selected {
  background-position: 0 -272px; }

.icon.inbox {
  background-position: 50% -952px; }

.icon.sent {
  background-position: 50% -986px; }

.icon.trash {
  background-position: 50% -1020px; }

.icon.compose {
  background-position: 0 -543px;
  background-color: #fff; }

.icon.invite-inbox {
  background-position: 0 -1122px; }

.icon.invite-sent {
  background-position: 0 -1156px; }

/* 2. Buttons ***/
.button {
  display: block;
  font-size: .875em;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  line-height: 35px;
  padding: 0 .5em;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4), inset 0px -1px 0 rgba(0, 0, 0, 0.2); }

.button.default {
  color: #fff;
  background-color: #00b5dc; }

.button.disabled {
  background: #d8d8d8;
  border: 0; }

.header .button {
  padding: 0 1em;
  color: #fff;
  background-color: #cfcec6;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1); }

.post-actions .button,
.title .actions .button {
  font-size: 1em; }

.button.add {
  color: #75bc12; }

.button.remove {
  color: #e24948; }

.header .button.add,
.holder .button.add {
  color: #fff;
  background-color: #75bc12; }

.header .button.remove,
.holder .button.remove {
  color: #fff;
  background-color: #e24948; }

.header .button.default {
  color: #fff;
  background-color: #00b5dc; }

.button.add.members,
.button.remove.members,
.button.remove.reassign,
.button.reply,
.button.edit,
.button.delete,
.button.show-hidden,
.button.new-thread,
.button.hide-board,
.button.leave-board,
.button.invite-facebook,
.button.invite-email,
.button.add.members,
.button.remove.members,
.button.manage-tags,
.button.reassign,
.button.read,
.button.unread {
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat; }

.button.reply {
  background-position: 0 -375px; }

.button.edit {
  background-position: 0 -409px; }

.button.delete {
  background-position: 0 -444px; }

.button.show-hidden {
  background-position: 0 -476px; }

.button.show-hidden.open {
  background-position: 0 -510px; }

.button.new-thread {
  background-position: 0 -544px; }

.button.hide-board {
  background-position: 0 -578px; }

.button.leave-board {
  background-position: 0 -612px; }

.button.invite-facebook {
  color: #00549e;
  background-position: 0 -646px; }

.button.invite-email {
  background-position: 0 -680px; }

.button.add.members {
  background-position: 0 -714px; }

.button.remove.members {
  background-position: 0 -748px; }

.button.manage-tags {
  background-position: 0 -782px; }

.button.reassign {
  background-position: 0 -816px; }

.button.read {
  background-position: 0 -1088px; }

.button.unread {
  background-position: 0 -680px; }

		/*
		.header .back
		.header .add
		.header .remove

		facebook

		.add.new-thread

		.hide-board

		.add
		.add.members
		.remove
		.remove.members
		.reassign
		.manage-tags
		.remove.delete
		.remove.leave-board

		.back

		*/
/* Header *******************************************************************************************/
.header {
  height: 54px;
  background: #f0efea;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
  z-index: 99; }

.header .logo {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -34px;
  width: 68px; }

.header .logo:active,
.header .logo.active {
  background: transparent; }

.header .logo.board {
  width: 50%;
  margin-left: -25%;
  font-size: .875em;
  text-align: center;
  text-transform: uppercase;
  color: #3d4044;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.header .logo.board img {
  display: block;
  margin: 0 auto; }

.header .logo.board strong.private {
  display: inline-block;
  padding-right: 15px;
  position: relative; }

.header .logo.board .icon {
  position: absolute;
  top: 5px;
  right: 0;
  width: 12px;
  height: 10px;
  box-shadow: none;
  border-radius: 0;
  background-image: url(../cssimg/icon-locked@2x.png);
  background-position: 50% 50%;
  background-size: 12px 10px; }

.header ul {
  list-style: none;
  height: 54px;
  padding: 10px 0 10px 10px; }

.header li {
  float: right;
  display: block;
  height: 34px;
  margin-right: 5px; }

.header li:nth-child(2) {
  margin-right: 10px; }

.header li.left-side {
  float: left; }

/* Footer *******************************************************************************************/
.footer {
  padding: 10px 0;
  margin: 0 10px;
  text-align: center; }

.home .footer {
  padding: 10px 5%; }

.footer ul {
  list-style: none; }

.footer li {
  display: inline; }

.footer a {
  padding: .5em; }

.footer p {
  margin: .5em 0; }

/* Homepage *****************************************************************************************/
.home .content {
  text-align: center; }

.home .title h1 {
  float: none;
  text-align: center; }

.home .page-title {
  background: transparent;
  line-height: 1.125em; }

.home .form {
  margin: 0 10px;
  border-bottom: 2px solid #d8d8d8;
  text-align: center; }

.home .form label,
.home .form input,
.home .form em {
  font-size: 1em;
  text-align: left;
  font-weight: 500; }

.home .form input[type="text"],
.home .form input[type="password"] {
  width: 100%; }

.home .form .checkbox {
  display: block;
  font-size: .875em;
  width: 100%;
  margin-top: .5em; }

.home .form .checkbox input {
  margin-right: 10px;
  border: 0;
  background: transparent; }

.home .form .note {
  display: block;
  font-size: .75em; }

.home .form .button {
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 1em; }

.home .form .change-form {
  display: inline-block;
  margin: 1em 0; }

.home .form .button {
  text-transform: uppercase;
  color: #fff;
  background: #00b5dc; }

.js .home .checkbox, .js .home .radio {
  min-height: 16px;
  line-height: 16px; }

.home .checkbox .check,
.home .radio .tick {
  width: 16px;
  height: 16px; }

/* Content ******************************************************************************************/
/* 1. New user ***/
.notice {
  display: block;
  text-align: center;
  margin: 1em 2em;
  padding: 1em;
  border-radius: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.2); }

.content .notice {
  background: #faedc5;
  border-color: #ffc928; }

/* 2. Content top ***/
.title {
  min-height: 54px;
  background: #00b5dc;
  padding: 10px;
  position: relative; }

.title h1,
.title h2 {
  clear: none;
  line-height: 34px;
  vertical-align: middle;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.title h1 {
  font-weight: 700; }

.title.has-subtitle h1 {
  float: left;
  max-width: 30%; }

.title.has-select h1 {
  float: left;
  max-width: 40%; }

.title h2 {
  float: right;
  font-weight: 500;
  margin-left: 5%;
  max-width: 65%; }

.title h1.private {
  display: inline-block;
  padding-right: 35px;
  position: relative; }

.title h1.private .icon {
  top: 0;
  right: 0;
  width: 40px;
  height: 34px; }

.title .icon,
.title .button.icon-button {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: none; }

.title .icon:active,
.title .icon.active {
  background-color: rgba(0, 0, 0, 0.15); }

.title select {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50%; }

.title .actions {
  display: none;
  clear: both;
  padding: 10px;
  background: #00b5dc; }

.title .actions.open {
  display: block; }

.title .actions li {
  list-style: none;
  margin-bottom: .5em; }

.title .actions li:last-child {
  margin-bottom: 0; }

.title .actions .button {
  height: 34px;
  overflow: hidden; }

.title .actions li.permalink {
  padding: 0 10px 0 40px;
  background: #fff;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative; }

.title .actions li.permalink label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 34px;
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat;
  background-position: 0 -1054px;
  text-indent: -9999em; }

.title .actions li.permalink input {
  display: block;
  height: 34px;
  vertical-align: middle;
  padding: 0;
  border: 0;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis; }

.title .actions.mark-unread #mark-read,
.title .actions.mark-read #mark-unread {
  display: none; }

/* 3. Threads ***/
.threads li {
  list-style: none; }

.threads li.opening {
  padding: 10px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25); }

.threads li.opening:nth-child(even) {
  background: #f0efea; }

.threads li.opening:nth-child(odd) {
  background: #fff; }

.threads ol {
  padding-left: 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  position: relative; }

.threads li li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.threads li li.has-replies,
.threads ol li:last-child {
  border-bottom: 0; }

.threads .post {
  padding: 10px 0; }

.threads ol li:first-child > .post {
  padding-top: 0; }

.threads ol li:last-child > .post {
  padding-bottom: 0; }

.threads li.collapsed > .post h2 {
  position: relative;
  text-indent: 20px; }

.threads li.collapsed > .post h2::before {
  content: "+";
  position: absolute;
  top: -2px;
  left: -20px;
  color: #75bc12;
  font-size: 1.2em; }

.threads .post a {
  display: block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.threads .data {
  color: #8e8e8e;
  font-size: .75em; }

.threads .data time:before,
.threads .data time:after {
  content: "•";
  padding: 0 5px; }

.threads .tag {
  display: inline;
  margin-right: 5px;
  font-size: .75em;
  line-height: 1em;
  padding: 4px 5px;
  color: #8e8e8e;
  text-transform: uppercase;
  background: #f0efea;
  border-radius: 5px; }

.threads p {
  color: #8e8e8e; }

.threads img {
  width: 100%;
  height: auto;
  margin: .5em 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px; }

.threads .post.new .data {
  color: #75bc12; }

/* Post actions popup ***/
.post-actions a {
  margin-bottom: .5em; }

.post-actions a.remove {
  margin-bottom: 1em; }

.post-actions a:nth-child(5) {
  margin-top: .5em;
  border-top: 2px solid #d8d8d8; }

.post-actions a.collapsible,
.post-actions a.cancel {
  display: block;
  text-align: center;
  padding-top: 10px; }

/* 4. Members list ***/
#members {
  list-style: none;
  margin: 0 10px; }

#members li label {
  display: block;
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 500;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #d8d8d8; }

#members li label.c-on,
#members li label.r-on {
  font-weight: 700;
  background: rgba(0, 0, 0, 0.05); }

#members li label.c-on.remove,
#members li label.r-on.remove {
  color: #e24948; }

#members li:last-child label {
  border: 0; }

#members li label .check {
  font-size: .875em;
  line-height: 18px; }

#members img {
  float: left;
  margin-right: 10px; }

.js #members li .check,
.js #members li .tick {
  position: static;
  float: right;
  margin-top: .8em; }

#members li .ui-slider-switch {
  position: relative;
  float: right;
  margin-top: .3em;
  width: 7em;
  font-size: .875em; }

.no-js #members input {
  position: static;
  float: right;
  margin-top: 1em; }

/* 5. Tags list ***/
#tags {
  list-style: none;
  margin: 10px; }

#tags li label {
  display: block;
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background: #d8d8d8; }

#tags li label.c-on {
  font-weight: 700;
  color: #e24948;
  background: rgba(0, 0, 0, 0.15); }

#tags li .checkbox .check {
  position: static;
  float: right;
  margin-top: .7em;
  background: transparent;
  box-shadow: none; }

#tags li .checkbox .check.checked span {
  background-position: -15px -930px; }

/* 6. Listing - messages & invites list ***/
.listing {
  list-style: none; }

.listing li {
  position: relative;
  display: block;
  min-height: 40px;
  margin: 0;
  padding: 10px 10px 10px 48px;
  color: #8e8e8e;
  border-bottom: 1px solid #d8d8d8; }

.listing li.new {
  font-weight: 700;
  background: #fff; }

#messages.listing label {
  position: absolute;
  top: 13px;
  left: 10px;
  text-indent: -9999em; }

#invites.listing li {
  padding-right: 6.5em; }

#invites.listing li p {
  font-size: .875em;
  text-transform: uppercase; }

.js #invites.listing li .check {
  position: absolute;
  top: 13px;
  left: 10px; }

.listing a {
  color: #8e8e8e; }

.listing h2,
.listing a h2 {
  color: #3d4044; }

.listing a:active,
.listing a:active h2 {
  color: #00b5dc; }

.listing .data {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 6em;
  font-size: .75em;
  text-align: right; }

.listing .data .status {
  display: block;
  text-transform: uppercase; }

.listing .data .status.accepted {
  color: #75bc12; }

.listing .data .status.declined {
  color: #e24948; }

#message-body {
  background: #fff;
  padding: 20px 10px; }

#message-body p {
  margin-top: 1em; }

#message-body .head {
  line-height: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8; }

#message-body .head img,
#message-body .head h2 {
  float: left;
  clear: none;
  margin-right: 10px; }

#message-body .head .data {
  float: right; }

#message-action {
  text-align: center;
  padding: 20px 0; }

#message-action .button {
  display: inline-block; }

	.social-login{border-top:2px solid #d8d8d8;border-bottom:2px solid #d8d8d8;padding:20px 0 10px 0;margin-bottom:20px;text-align:center;}
	.social-login .login-button{display:inline-block;color:#fff;font:.667em Arial, Helvetica, "Lucida Grande", sans-serif;font-weight:700;line-height:31px;vertical-align:middle;padding:0 10px 0 40px;margin-right:5x;position:relative;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;cursor:pointer;}
	.social-login .login-button:hover{text-decoration:none;box-shadow:inset 0px -2px 0 rgba(0,0,0,.2);}
	.social-login .login-button .logo{position:absolute;top:0;left:5px;width:30px;height:31px;border-right:1px solid rgba(0,0,0,.1);background-image:url(../cssimg/icons.png);background-repeat:no-repeat;}
	
	.social-login .login-button.fb{background-color:#3b5998;}
	.social-login .login-button.fb .logo{background-position:-7px -306px;}
	
	.social-login .login-button.tw{background-color:#00c5f9;}
	.social-login .login-button.tw .logo{background-position:-5px -408px;}

	.social-login .login-button.go{background-color:#dd4b39;margin-right:0;}
	.social-login .login-button.go .logo{background-position:-5px -646px;}

/* Panels *******************************************************************************************/
.panel {
  background: #00b5dc; }

/* 1. Top navigation in both panels ***/
.panel-top {
  background: #f0efea; }

.panel-top li {
  height: 54px;
  list-style: none; }

#main-nav .panel-top li {
  float: left;
  width: 33.3333333333%;
  background: #f0efea url(../cssimg/panel-icons.png) no-repeat;
  font-size: .6em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.25); }

#main-nav .panel-top li.active {
  color: #fff;
  background-color: #00b5dc;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: none; }

#main-nav .panel-top li a,
#main-nav .panel-top li span {
  display: block;
  padding-top: 30px; }

#main-nav .panel-top li.switch-board {
  background-position: 50% 0; }

#main-nav .panel-top li.new-board {
  background-position: 50% -54px; }

#main-nav .panel-top li.manage-board {
  background-position: 50% -108px; }

#main-nav .panel-top li.switch-board.active {
  background-position: 50% -162px; }

#main-nav .panel-top li.new-board.active {
  background-position: 50% -216px; }

#main-nav .panel-top li.manage-board.active {
  background-position: 50% -270px; }

#action-nav .panel-top li {
  float: right;
  padding: 10px 0;
  margin-right: 10px; }

#action-nav .panel-top li.user {
  float: left;
  margin: 0 0 0 10px;
  font-size: 1em;
  line-height: 40px;
  vertical-align: middle;
  width: 7em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

#action-nav .panel-top li.user img {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: 10px; }

/* 2. Search in left panel ***/
.panel .search-form {
  height: 54px;
  padding: 10px;
  background: rgba(61, 64, 68, 0.3); }

.panel .search-form fieldset {
  height: 34px;
  border-radius: 5px;
  background: rgba(61, 64, 68, 0.1);
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2), 0px 1px 0 rgba(255, 255, 255, 0.4); }

.panel .search-form .lupe {
  float: left;
  display: block;
  width: 40px;
  height: 34px;
  border: 0;
  background: url(../cssimg/icons.png) no-repeat 0 -238px;
  text-indent: -9999em; }

.panel .search-form input {
  float: left;
  background: none;
  border: 0;
  width: 80%;
  height: 34px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15); }

.panel .search-form .ui-btn-text {
  display: none; }

.panel .search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75); }

/* 3. Visible boards list in left panel ***/
.panel .panel-links {
  list-style: none;
  padding: 0 10px; }

.panel .panel-links li {
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  border-bottom: 1px solid rgba(61, 64, 68, 0.3);
  position: relative; }

.panel .panel-links li:first-child {
  padding-top: 10px; }

.panel .panel-links a {
  display: block;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  padding-right: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.panel .panel-links .active a {
  color: #ffc928; }

.panel .panel-links a:active,
.panel .panel-links a.active {
  color: #ffc928;
  background-color: rgba(0, 0, 0, 0.15); }

.panel .panel-links .posts {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: .6em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  width: 3em;
  background: rgba(61, 64, 68, 0.3);
  border-radius: 25px; }

.panel .panel-links .icon {
  position: absolute;
  width: 40px;
  height: 34px;
  background-color: transparent;
  box-shadow: none; }

.panel .panel-links a .icon.locked {
  top: -2px;
  right: 1em; }

.panel .panel-links a .icon.selected {
  top: -1px;
  right: 2em; }

/* 4. Hidden boards list in left panel ***/
.panel .button {
  font-size: .875em;
  margin: 10px;
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2); }

.panel #hidden.panel-links {
  display: block;
  opacity: .6; }

.panel #hidden.panel-links.hidden {
  display: none; }

/* Forms ********************************************************************************************/
/* 1. Layout and elements ***/
form {
  text-align: left; }

.form .entry {
  display: block;
  margin-bottom: 1em; }

.form .entry.divider {
  border-top: 2px solid #d8d8d8;
  padding-top: 10px; }

.form label a[data-rel="popup"]:not(.thumbnail),
.form .page-title a[data-rel="popup"]:not(.thumbnail) {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  font-size: .633em;
  font-weight: 700;
  text-align: center;
  color: #3d4044;
  background: #ffc928; }

.form .page-title a[data-rel="popup"]:not(.thumbnail) {
  display: inline-block;
  margin-left: 5px; }

/* Styled checkbox & radio inputs ***/
.js .checkbox, .js .radio {
  display: block;
  min-height: 18px;
  line-height: 18px;
  margin: .5em 0;
  vertical-align: middle; }

.js .checkbox input, .js .radio input {
  position: absolute;
  left: -9999px; }

.js .checkbox em, .js .radio em {
  display: block;
  font-size: .875em;
  text-transform: uppercase;
  color: #8e8e8e; }

.checkbox .check,
.radio .tick {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #cfcec6;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.disabled .check,
.disabled .radio {
  opacity: .2; }

.checkbox .check span,
.radio .tick span {
  display: none; }

.checkbox .check {
  border-radius: 5px; }

.radio .tick {
  border-radius: 18px; }

.checkbox .check.checked,
.radio .tick.ticked {
  background: #00b5dc; }

.checkbox.remove .check.checked {
  background: #e24948; }

.checkbox .check.checked span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 4px;
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat;
  background-position: -15px -862px; }

.checkbox.remove .check.checked span {
  background-position: -15px -896px; }

.radio .tick.ticked span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  margin: 6px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }

.entry .checkbox,
.entry .radio {
  padding-left: 30px;
  position: relative; }

/* File upload ***/
.file-upload {
  position: relative;
  height: 35px;
  margin-bottom: 10px;
  overflow: hidden; }

.file-upload input[type="file"] {
  position: absolute;
  font-size: 10em;
  opacity: 0; }

/* Reveal password ***/
.has-password {
  position: relative; }

.has-password .toggle-password {
  position: absolute;
  top: 2.7em;
  right: 5px;
  display: block;
  padding: 2px 5px;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 700;
  background: #f0efea;
  border-radius: 5px; }

/* 2. Tags ***/
.text-core {
  position: relative;
  width: 100%;
  min-height: 34px; }

.text-core .text-wrap {
  background: none;
  position: absolute;
  width: 100%;
  min-height: 34px; }

.text-core .text-wrap textarea,
.text-core .text-wrap input {
  width: 100%;
  border-radius: 0px;
  border: 0;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 3px 5px 4px 5px;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1.5em;
  height: auto; }

.text-core .text-wrap .text-tags {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 3px 35px 3px 3px;
  cursor: text; }

.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2; }

.text-core .text-wrap .text-tags .text-tag {
  float: left;
  display: block;
  white-space: nowrap; }

.text-core .text-wrap .text-tags .text-tag .text-button {
  border-radius: 2px;
  position: relative;
  float: left;
  background: #d8d8d8;
  color: #3d4044;
  padding: 2px 16px 2px 5px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-size: .75em;
  line-height: 14px;
  height: 18px;
  vertical-align: middle;
  text-transform: uppercase; }

.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  position: absolute;
  right: 3px;
  top: 2px;
  display: block;
  width: 11px;
  height: 11px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAhCAYAAAAPm1F2AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAQ5JREFUOI2dlD0WwiAQhCc8L6HHgAPoASwtSYvX8BrQxtIyveYA8RppLO1jE+LwE8lzms2yH8MCj1QoaBzH+VuUYNYMS213UlvDRamtUbXb5ZyPHuDoxwGgip3ipfvGuGzPz+vZ/coDONdzFuYCO6ramQQG0DJIE1oPBBvM6e9LqaS2FwD7FWwnVoIAsOc2Xn1jDlyd8pfPBRVOBHA8cc/3yCmQqt0jcY4LuTyAF3pOYS6wI48LAm4MUrx5JthgSQJAt5LtNgAUgEMBBIC3AL2xgo58dEPfhE9wygef89FtCeC49UwltR1pQrK2qr9vNr7uRTCBF3pOYS6wI4/zdQ8MUpxPI9hgSQL0Xyio/QBt54DzsHQx6gAAAABJRU5ErkJggg==") 0 0 no-repeat; }

.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:hover {
  background-position: 0 -11px; }

.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove:active {
  background-position: 0 -22px; }

/* 3. Global form ***/
.global-form label {
  line-height: 1.5em;
  margin-bottom: .25em; }

.global-form label:not(.radio):not(.checkbox) {
  font-size: 1.125em;
  margin-bottom: 0;
  font-weight: 700; }

.global-form label:not(.radio):not(.checkbox) em {
  display: block;
  font-size: .75em;
  line-height: 1.125em;
  margin-bottom: .5em;
  font-weight: 500;
  color: #8e8e8e; }

.global-form input,
.global-form textarea,
.global-form select {
  padding: .5em;
  background: #fff;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.global-form label a[data-rel="popup"]:not(.thumbnail) {
  display: inline-block;
  margin: 0 0 0 5px; }

.global-form input[type="text"],
.global-form input[type="password"],
.global-form input[type="tel"],
.global-form input[type="email"],
.global-form input[type="url"],
.global-form .holder select,
.global-form textarea {
  width: 100%; }

.global-form .button[disabled] {
  background: #d8d8d8;
  border: 0; }

.global-form input[disabled],
.global-form .disabled {
  color: #cfcdc6; }

.global-form .content {
  border-bottom: 2px solid #d8d8d8; }

.global-form .holder {
  padding: 10px 10px 0 10px; }

.global-form .content > .actions {
  margin: 10px;
  text-align: center; }

.global-form .content > .actions .cancel {
  margin-right: 1em; }

.global-form .content > .actions .button {
  display: inline-block;
  padding: 0 1em;
  border: 0; }

.global-form .text-wrap {
  background: #fff;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.global-form .holder.manage-tags {
  text-align: center; }

.global-form .holder.manage-tags .entry {
  text-align: left; }

.global-form .holder.manage-tags .button {
  display: inline-block;
  margin: 0 20px 10px 0; }

.global-form .picture {
  position: relative;
  height: 5em; }

.global-form .picture img {
  position: absolute;
  top: 0;
  left: 0;
  padding: .5em;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.global-form .picture .actions {
  padding-left: 6em; }

.global-form .picture .button {
  display: block;
  width: 100%;
  padding: 0; }

/* 4. Entry form ***/
.entry-form .title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.entry-form .content {
  background: #00b5dc; }

.entry-form .holder {
  margin: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 5px; }

.entry-form .entry:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid #d8d8d8; }

.entry-form .actions {
  margin: 10px; }

.entry-form label {
  float: left;
  width: 25%;
  margin-right: 5%;
  font-size: .875em;
  line-height: 1.5em;
  font-weight: 700;
  vertical-align: middle;
  text-align: right;
  text-transform: uppercase;
  color: #8e8e8e; }

.entry-form label a[data-rel="popup"]:not(.thumbnail) {
  float: right;
  display: block;
  margin: 2px 0 0 5px; }

.entry-form label a.thumbnail img {
  width: 100%;
  height: 100%;
  border-radius: 5px; }

.entry-form input,
.entry-form select,
.entry-form textarea {
  border: 0;
  background: #fff;
  width: 70%; }

.entry-form .info {
  color: #8e8e8e;
  font-size: .75em;
  float: left;
  clear: both;
  width: 70%;
  margin-left: 30%; }

.entry-form .actions .button {
  float: left;
  width: 48%; }

.entry-form .actions .button.photo {
  margin-right: 4%; }

.entry-form .text-core {
  margin-left: 30%;
  width: 70%; }

.entry-form .has-thumbnail {
  float: left;
  width: 70%; }

.entry-form .has-thumbnail input,
.entry-form .has-thumbnail textarea {
  width: 100%; }

.entry-form .has-thumbnail em {
  float: none;
  margin: 0; }

.entry-form .hidden {
  display: none; }

/* jQuery Mobile ************************************************************************************/
/* 1. Globals ***/
.ui-icon-loading {
  background: url(../cssimg/ajax-loader.gif);
  background-size: 46px 46px; }

/*.ui-overlay-a {
  background: rgba(0, 0, 0, 0.9); }*/

/* 2. Flip switch ***/
.ui-slider.ui-slider-switch {
  background: #fff;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px; }

.ui-slider-track .ui-btn.ui-slider-handle,
.ui-slider-switch .ui-btn.ui-slider-handle {
  height: 20px;
  width: 20px;
  margin-top: 5px;
  border-radius: 99px;
  background: #00b5dc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.ui-slider-switch .ui-btn.ui-slider-handle[aria-valuenow="0"] {
  background: #cfcec6;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.ui-slider-label.ui-slider-label-a {
  color: #3d4044; }

.ui-slider-label.ui-slider-label-b {
  color: #cfcec6; }

/* 3. Dialog ***/
.ui-dialog-contain {
  background: #f0efea;
  border-radius: 5px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.35); }

.ui-dialog-contain .ui-btn-left,
.ui-dialog-contain .ui-btn-right {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #00b5dc url(../cssimg/icons.png) -3px -341px no-repeat;
  text-indent: -9999em;
  top: -12px; }

.ui-dialog-contain .ui-btn-left {
  left: -12px; }

.ui-dialog-contain .ui-btn-right {
  right: -12px; }

.ui-dialog-contain .title h1 {
  float: none;
  text-align: center;
  max-width: 100%; }

.ui-dialog-contain p,
.ui-dialog-contain ul,
.ui-dialog-contain ol {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 1.25em; }

/* 4. Popup ***/
.ui-popup {
  border-radius: 5px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.35); }

.ui-popup.post-actions {
  width: 14em;
  background: #f0efea;
  padding: 1em; }

.ui-popup.info-popup {
  width: 20em;
  font-size: .875em;
  color: #fff;
  background: #3d4044;
  padding: 5px; }

.ui-popup-container .ui-btn-left,
.ui-popup-container .ui-btn-right {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background: #f0efea url(../cssimg/icons.png) -3px -307px no-repeat;
  text-indent: -9999em;
  top: -1em;
  box-shadow: 1px -1px 2px rgba(0, 0, 0, 0.35); }

.ui-popup-container .ui-btn-left {
  left: -1em; }

.ui-popup-container .ui-btn-right {
  right: -1em; }
 /* 5. Autocomplete ***/
		.entry.has-autocomplete{position:relative;}
		.ui-helper-hidden{display:none;}
		.ui-helper-hidden-accessible {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
		ul.ui-autocomplete{z-index:2000;position:absolute;top:0;left:0;list-style:none;max-height:200px;overflow-y:auto;overflow-x:hidden;padding:10px;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:0;border-bottom:1px solid rgba(0,0,0,.2);}
		ul.ui-autocomplete li{text-transform:uppercase;font-weight:700;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid rgba(0,0,0,.1);}
		ul.ui-autocomplete li:last-child{padding-bottom:0;margin-bottom:0;border-bottom:0;}
		ul.ui-autocomplete a{display:block;cursor:pointer;color:#3d4044;}	
		ul.ui-autocomplete a:hover{color:#0ca5dd;}
/* 5. Responsive panel - 480px ***/
@media only screen and (min-width: 480px) {
  .ui-panel {
    width: 17em; }

  .ui-panel-position-left {
    left: -17em; }

  .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
  .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    left: 0;
    -webkit-transform: translate3d(-17em, 0, 0);
    -moz-transform: translate3d(-17em, 0, 0);
    transform: translate3d(-17em, 0, 0); }

  .ui-panel-position-right {
    right: -17em; }

  .ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,
  .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    right: 0;
    -webkit-transform: translate3d(17em, 0, 0);
    -moz-transform: translate3d(17em, 0, 0);
    transform: translate3d(17em, 0, 0); }

  .ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
  .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
  .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 17em;
    right: -17em; }

  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
  .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
  .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(17em, 0, 0);
    -moz-transform: translate3d(17em, 0, 0);
    transform: translate3d(17em, 0, 0); }

  .ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
  .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
  .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
    left: -17em;
    right: 17em; }

  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
  .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
  .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(-17em, 0, 0);
    -moz-transform: translate3d(-17em, 0, 0);
    transform: translate3d(-17em, 0, 0); } }
/* 6. Responsive panel - Landscape *****/
@media only screen and (orientation: landscape) {
  .ui-panel {
    width: 20em; }

  .ui-panel-position-left {
    left: -20em; }

  .ui-panel-animate.ui-panel-position-left.ui-panel-display-overlay,
  .ui-panel-animate.ui-panel-position-left.ui-panel-display-push {
    left: 0;
    -webkit-transform: translate3d(-20em, 0, 0);
    -moz-transform: translate3d(-20em, 0, 0);
    transform: translate3d(-20em, 0, 0); }

  .ui-panel-position-right {
    right: -20em; }

  .ui-panel-animate.ui-panel-position-right.ui-panel-display-overlay,
  .ui-panel-animate.ui-panel-position-right.ui-panel-display-push {
    right: 0;
    -webkit-transform: translate3d(20em, 0, 0);
    -moz-transform: translate3d(20em, 0, 0);
    transform: translate3d(20em, 0, 0); }

  .ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
  .ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
  .ui-panel-dismiss-position-left.ui-panel-dismiss-open {
    left: 20em;
    right: -20em; }

  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
  .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
  .ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(20em, 0, 0);
    -moz-transform: translate3d(20em, 0, 0);
    transform: translate3d(20em, 0, 0); }

  .ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open,
  .ui-panel-content-wrap-position-right.ui-panel-content-wrap-open,
  .ui-panel-dismiss-position-right.ui-panel-dismiss-open {
    left: -20em;
    right: 20em; }

  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
  .ui-panel-animate.ui-panel-content-fixed-toolbar-position-right.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
  .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
  .ui-panel-animate.ui-panel-content-wrap-position-right.ui-panel-content-wrap-open.ui-panel-content-wrap-display-push {
    left: 0;
    right: 0;
    -webkit-transform: translate3d(-20em, 0, 0);
    -moz-transform: translate3d(-20em, 0, 0);
    transform: translate3d(-20em, 0, 0); } }
/* Float fix ****************************************************************************************/
.float:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.float {
  display: block; }

* html .float {
  height: 1%; }

.float {
  display: block; }

*:first-child + html .float {
  min-height: 1px; }

/* Responsives **************************************************************************************/
/* 1. 480px *****/
@media only screen and (min-width: 480px) {
  .header li {
    margin-right: 10px; }

  .icon.narrow {
    width: 40px; }

  .footer {
    text-align: left; }

  .footer li {
    float: left;
    margin-right: .5em; }

  .footer li:last-child {
    margin-right: 0; }

  .footer p {
    float: right;
    margin: 0; } }
/* 2. 600px *****/
@media only screen and (min-width: 600px) {
  /*.title .actions{height:34px;} 
  .title .actions li{float:left;margin:0 5% 0 0;}
  .title .actions li:last-child{margin-right:0;}
  .title .actions .button{height:34px;overflow:hidden;}*/
  #tags li {
    float: left;
    width: 48%; }

  #tags li:nth-child(2n) {
    margin-left: 4%; }

  #board-page .title .actions li {
    width: 30%; } }
/* 3. Portrait 
	@media only screen and (orientation : portrait) 
	{
	   
	} *****/
/* 4. Landscape 
	@media only screen and (orientation : landscape) 
	{
	    
	} *****/
/* 5. Hi-Res ***/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  .icon {
    background-size: 40px 34px; }

  .icon.menu {
    background-image: url(../cssimg/icon-menu@2x.png);
    background-position: 0 0; }

  .icon.messages {
    background-image: url(../cssimg/icon-messages@2x.png);
    background-position: 0 0; }

  .icon.invites {
    background-image: url(../cssimg/icon-invites@2x.png);
    background-position: 0 0; }

  .icon.profile {
    background-image: url(../cssimg/icon-profile@2x.png);
    background-position: 0 0; }

  .icon.locked {
    background-image: url(../cssimg/icon-locked@2x.png);
    background-position: 50% 50%;
    background-size: 22px auto; }

  .icon.show-action {
    background-image: url(../cssimg/icon-plus@2x.png);
    background-position: 0 0; }

  .icon.hide-action {
    background-image: url(../cssimg/icon-minus@2x.png);
    background-position: 0 0; }

  .icon.selected {
    background-image: url(../cssimg/icon-tick@2x.png);
    background-position: 50% 50%;
    background-size: 22px auto; }

  .icon.inbox {
    background-image: url(../cssimg/icon-inbox@2x.png);
    background-position: 50% 50%;
    background-size: auto 22px; }

  .icon.sent {
    background-image: url(../cssimg/icon-sent@2x.png);
    background-position: 50% 50%;
    background-size: auto 22px; }

  .icon.trash {
    background-image: url(../cssimg/icon-trash@2x.png);
    background-position: 50% 50%;
    background-size: auto 22px; }

  .icon.compose {
    background-image: url(../cssimg/icon-reply@2x.png);
    background-position: 50% 50%;
    background-size: auto 22px; }

  .icon.invite-inbox {
    background-image: url(../cssimg/icon-invite-inbox@2x.png);
    background-position: 0 0; }

  .icon.invite-sent {
    background-image: url(../cssimg/icon-invite-sent@2x.png);
    background-position: 0 0; }

  .button.reply {
    background-image: url(../cssimg/icon-reply@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.edit {
    background-image: url(../cssimg/icon-edit@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.delete {
    background-image: url(../cssimg/icon-delete@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.show-hidden {
    background-image: url(../cssimg/icon-show-hidden@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.show-hidden.open {
    background-image: url(../cssimg/icon-hide-hidden@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.new-thread {
    background-image: url(../cssimg/icon-new-thread@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.hide-board {
    background-image: url(../cssimg/icon-hide-board@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.leave-board {
    background-image: url(../cssimg/icon-leave-board@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.invite-facebook {
    background-image: url(../cssimg/icon-invite-facebook@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.invite-email {
    background-image: url(../cssimg/icon-invite-email@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.add.members {
    background-image: url(../cssimg/icon-add-members@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.remove.members {
    background-image: url(../cssimg/icon-remove-members@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.manage-tags {
    background-image: url(../cssimg/icon-manage-tags@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.reassign {
    background-image: url(../cssimg/icon-reassign@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.read {
    background-image: url(../cssimg/icon-mark-read@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .button.unread {
    background-image: url(../cssimg/icon-invite-email@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  .checkbox .check.checked span {
    margin: 0;
    width: 18px;
    height: 18px;
    background-image: url(../cssimg/icon-check-checked@2x.png);
    background-position: 0 0;
    background-size: 18px 18px; }

  .checkbox.remove .check.checked span {
    background-image: url(../cssimg/icon-remove-checked@2x.png);
    background-position: 0 0;
    background-size: 18px 18px; }

  #tags li .checkbox .check.checked span {
    margin: 0;
    width: 18px;
    height: 18px;
    background-image: url(../cssimg/icon-delete-checked@2x.png);
    background-position: 0 0;
    background-size: 18px 18px; }

  .title .actions li.permalink label {
    background-image: url(../cssimg/icon-permalink@2x.png);
    background-position: 5px 50%;
    background-size: auto 22px; }

  #main-nav .panel-top li {
    -moz-background-size: auto 50px;
    -ie-background-size: auto 50px;
    -o-background-size: auto 50px;
    -webkit-background-size: auto 50px;
    background-size: auto 50px; }

  #main-nav .panel-top li.switch-board {
    background-image: url(../cssimg/switch-board@2x.png);
    background-position: 50% 0; }

  #main-nav .panel-top li.new-board {
    background-image: url(../cssimg/new-board@2x.png);
    background-position: 50% 0; }

  #main-nav .panel-top li.manage-board {
    background-image: url(../cssimg/manage-board@2x.png);
    background-position: 50% 0; }

  #main-nav .panel-top li.switch-board.active {
    background-image: url(../cssimg/switch-board-active@2x.png);
    background-position: 50% 0; }

  #main-nav .panel-top li.new-board.active {
    background-image: url(../cssimg/new-board-active@2x.png);
    background-position: 50% 0; }

  #main-nav .panel-top li.manage-board.active {
    background-image: url(../cssimg/manage-board-active@2x.png);
    background-position: 50% 0; }

  .ui-dialog-contain .ui-btn-right,
  .ui-dialog-contain .ui-btn-left {
    background-image: url(../cssimg/icon-close-white@2x.png);
    background-position: 50% 50%;
    background-size: 32px 32px; }

  .ui-popup-container .ui-btn-right,
  .ui-popup-container .ui-btn-left {
    background-image: url(../cssimg/icon-close-blue@2x.png);
    background-position: 50% 50%;
    background-size: 32px 32px; } }
