@charset "UTF-8";
/* Shtum | CSS desktop stylesheet | Copyright (c) 2013. Perceptive interactive (perceptiveinteractive.com) */
/* Globals ******************************************************************************************/
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font: 10px "Bariol", Arial, Helvetica, "Lucida Grande", sans-serif;
  height: 100%;
  overflow-x: hidden; }

body {
  font-size: 1.7em;
  line-height: 1.5em;
  color: #3d4044;
  background: #dffaff;
  height: 100%; }

a img, figure img, fieldset {
  border: 0; }

a {
  color: #00b5dc;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

a:active {
  background-color: rgba(0, 181, 202, 0.1); }

label {
  display: block;
  vertical-align: middle;
  cursor: pointer; }

label,
select,
input,
textarea,
button {
  font: 1em "Bariol", Arial, Helvetica, "Lucida Grande", sans-serif; }

textarea {
  resize: none;
  overflow: auto; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    font-family: Arial, Helvetica, "Lucida Grande", sans-serif; } }
button {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: auto;
  overflow: visible; }

::-webkit-selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #00b5dc;
  color: #fff;
  text-shadow: none; }

::-webkit-input-placeholder {
  font-style: italic;
  color: #8e8e8e; }

:-moz-placeholder {
  font-style: italic;
  color: #8e8e8e; }

::-moz-placeholder {
  font-style: italic;
  color: #8e8e8e; }

:-ms-input-placeholder {
  font-style: italic;
  color: #8e8e8e; }

.placeholder {
  font-style: italic;
  color: #8e8e8e; }

/* Typography ***************************************************************************************/
h1, h2, h3 {
  display: block;
  clear: both;
  margin-bottom: 0; }

h1 {
  font-size: 1.667em; }

h2 {
  font-size: 1em;
  line-height: 1.25em; }

h3 {
  color: #3d4044;
  font-size: 1em;
  line-height: 1em; }

h2.page-title {
  font-size: 1.667em;
  line-height: 1.667em;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 500; }

h2.page-title em {
  font-size: .7em;
  line-height: 1.333em;
  padding: 0 80px;
  display: block; }

.content.entry p,
.content.entry ul,
.content.entry ol {
  font-size: 1em;
  line-height: 1.25em;
  margin-bottom: 1.25em; }

/* Layout *******************************************************************************************/
.wrap {
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

#content-wrapper {
  left: 0;
  top: 60px;
  position: relative;
  width: 100%;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  -ms-transition: left 0.3s ease-out;
  -o-transition: left 0.3s ease-out;
  transition: left 0.3s ease-out;
  -webkit-transition: left 0.3s ease-out;
  -moz-transition: right 0.3s ease-out;
  -ms-transition: right 0.3s ease-out;
  -o-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out; }

#content-wrapper.active-left .wrap,
#content-wrapper.active-left .threads li.opening > .post,
#content-wrapper.active-left .threads ol,
#content-wrapper.active-right .wrap,
#content-wrapper.active-right .threads li.opening > .post,
#content-wrapper.active-right .threads ol {
  max-width: 100%;
  margin-left: 40px; }

#content-wrapper.active-right #header ul {
  margin-right: 20px; }

#content-wrapper.active-left #header {
  position: relative; }

#content-wrapper.active-left,
#content-wrapper.active-right {
  margin-top: 0;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

#content-wrapper.active-left {
  left: 360px;
  right: auto; }

#content-wrapper.active-right {
  right: 320px;
  left: auto; }

/* Graphics *****************************************************************************************/
/* 1. Icons ***/
.icon {
  display: block;
  width: 50px;
  height: 40px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #00BFFF;
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat;
  text-indent: -9999em;
  box-shadow: 0px -1px 0 rgba(255, 255, 255, 0.4), inset 0px -2px 0 rgba(0, 0, 0, 0.2);
  position: relative; }

.icon:hover,
.icon:active,
.icon.active,
.over .icon {
  background-color: #00b5dc; }

.icon .notification {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 16px;
  height: 16px;
  color: #fff;
  background: #e24948;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: .556em;
  line-height: 16px;
  text-align: center;
  text-indent: 0;
  font-weight: 700;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }

.icon.menu {
  width: 40px;
  background-position: 0 3px; }

.icon.messages {
  background-position: 5px -31px; }

.icon.invites {
  background-position: 5px -65px; }

.icon.profile {
  background-position: 5px -99px; }

.icon.locked {
  background-position: 0 -136px;
  background-color: transparent; }

.icon.show-action {
  background-position: 0 -170px;
  background-color: #00b5dc; }

.icon.hide-action {
  background-position: 0 -204px;
  background-color: #00b5dc; }

.icon.selected {
  background-position: 0 -272px; }

.icon.inbox {
  background-position: 50% -952px; }

.icon.sent {
  background-position: 50% -986px; }

.icon.trash {
  background-position: 50% -1020px; }

.icon.compose {
  background-position: 0 -543px;
  background-color: #fff; }

.icon.invite-inbox {
  background-position: 0 -1122px; }

.icon.invite-sent {
  background-position: 0 -1156px; }

/* 2. Buttons ***/
button.default {
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none; }

.button {
  display: block;
  font-size: .889em;
  text-transform: uppercase;
  font-weight: 700;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
  padding: 0 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer; }

.button.small-button {
  font-size: .778em;
  line-height: 1em;
  padding: 0;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none; }

.button.read {
  color: #3d4044;
  background: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: none; }

.button.disabled {
  opacity: .2;
  cursor: default; }

.button.add {
  color: #75bc12; }

.button.remove {
  color: #e24948; }

.global-form .actions .button.add {
  color: #fff;
  background-color: #75bc12; }

.global-form .actions .button.remove {
  color: #fff;
  background-color: #e24948; }

/* Buttons with icons ***/
.button.new-thread,
.button.show-hidden,
.entry-form .button.add,
.entry-form .button.remove {
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat; }

.button.new-thread,
.entry-form .button.save {
  background-position: 0 -541px; }

.entry-form .button.reply {
  background-position: 0 -370px; }

.entry-form .button.remove {
  background-position: 0 -439px; }

.button.show-hidden {
  background-position: 0 -473px; }

.button.show-hidden.open {
  background-position: 0 -507px; }

/* Header *******************************************************************************************/
#header {
  left: 0;
  height: 60px;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 -9px 11px 11px rgba(0, 65, 109, 0.76);
  position: relative;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  background: #dffaff; }

#header #logo {
  position: absolute;
  top: 0;
  left: 0; }

#header #logo:active {
  background: transparent; }

#header ul {
  list-style: none;
  height: 40px;
  margin-left: 100px; }

#header li {
  float: right;
  display: block;
  width: 70px;
  margin-left: 20px;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.3); }

#header li.right-side {
  width: 50px;
  box-shadow: none;
  position: relative; }
#header li.right-side.sing-out {
  width: 100px;
  margin-top:10px;
  }
#header li.left-side {
  float: left;
  margin-left: 0;
  padding-left: 20px;
  width: 40px;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.3); }

/* Footer *******************************************************************************************/
#footer {
  font-size: .889em;
  height: 60px;
  padding: 10px 0;
  overflow: hidden; }

#footer.home {
  border-top: 2px solid #d8d8d8; }

#footer li {
  list-style: none;
  float: left;
  margin-right: 10px; }

#footer p {
  float: right; }

/* Homepage *****************************************************************************************/
#login-signup {
  text-align: center;
  padding: 60px 0;
  max-width: 540px; }

#login-signup h1 {
  font-weight: 500;
  margin-bottom: 1em;
  white-space: normal; }

#login-signup h1 em {
  display: block;
  font-size: .667em;
  line-height: 1.2em;
  margin-top: 1em;
  color: #8e8e8e; }

#login-signup h2 {
  font-size: 1.333em;
  font-weight: 500;
  white-space: normal; }

#login-signup #login,
#login-signup.show-login #sign-up {
  display: none; }

#login-signup.show-login #login,
#login-signup #sign-up {
  display: block; }

#login-signup .title {
  background: transparent;
  padding: 0;
  height: auto; }

#login-signup .title h1,
#login-signup .title h2 {
  float: none;
  color: #3d4044;
  text-shadow: none; }

#login-signup form {
  text-align: center; }

#login-signup label:not(.radio):not(.checkbox) {
  font-size: 1em;
  width: 30%; }

#login-signup input:not([type=checkbox]) {
  width: 70%; }

#login-signup .checkbox {
  float: left; }

#login-signup .button {
  padding: 0 40px;
  text-transform: uppercase;
  color: #fff;
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat; }

#login-signup .button:not(.block) {
  float: right; }

#login-signup .button.block {
  clear: left;
  margin: 60px auto 0 auto; }

.social-login {
  border-top: 2px solid #d8d8d8;
  border-bottom: 2px solid #d8d8d8;
  padding: 20px 0 10px 0;
  margin-bottom: 20px;
  text-align: center; }

.social-login .login-button {
  display: inline-block;
  color: #fff;
  font: .667em Arial, Helvetica, "Lucida Grande", sans-serif;
  font-weight: 700;
  line-height: 31px;
  vertical-align: middle;
  padding: 0 10px 0 40px;
  margin-right: 5x;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer; }

.social-login .login-button:hover {
  text-decoration: none;
  box-shadow: inset 0px -2px 0 rgba(0, 0, 0, 0.2); }

.social-login .login-button .logo {
  position: absolute;
  top: 0;
  left: 5px;
  width: 30px;
  height: 31px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat; }

.social-login .login-button.fb {
  background-color: #3b5998; }

.social-login .login-button.fb .logo {
  background-position: -7px -306px; }

.social-login .login-button.tw {
  background-color: #00c5f9; }

.social-login .login-button.tw .logo {
  background-position: -5px -408px; }

.social-login .login-button.go {
  background-color: #dd4b39;
  margin-right: 0; }

.social-login .login-button.go .logo {
  background-position: -5px -646px; }

/* Dialog page **************************************************************************************/
body#dialog {
  background: transparent; }

#dialog-page {
  position: relative;
  overflow: hidden;
  background: #f0efea url(../cssimg/pattern-grey.png) repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0 5px rgba(0, 0, 0, 0.25); }

#dialog-page .title,
#dialog-page #tabs {
  display: block;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 9999; }

#dialog-page .title {
  padding: 10px 0;
  text-align: center;
  z-index: 99;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

#dialog-page .title h1 {
  float: none; }

#dialog-page .content,
#dialog-page .form {
  display: block;
  /*margin-top: 80px;*/
  padding: 0 20px 20px 20px; }

#dialog-page .global-form .actions {
  margin: 10px 0 0 0; }

#dialog-page .global-form em.note {
  width: 75%;
  margin-left: 25%; }

#dialog-page #nested-tabs-content h2 {
  font-size: 1.333em;
  line-height: 1em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 500; }

/* Dialog page with fixed buttons ***/
#dialog-page.fixed-buttons {
  padding-bottom: 70px; 
  width:960px;
}

#dialog-page.fixed-buttons .dialog-content {
  display: block;
  max-height: 100px;
  overflow-y: auto; }

#dialog-page.fixed-buttons .actions.divider {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px; }

/* Content ******************************************************************************************/
#load-more {
  text-align: center; }

#load-more .button {
  display: inline-block;
  margin: 20px auto;
  padding: 0 40px;
  text-transform: uppercase;
  color: #fff;
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat; }

/* 0. Notice ***/
.notice {
  display: block;
  text-align: center;
  margin: 20px 0;
  padding: 1em;
  border-radius: 5px;
  background: #faedc5;
  border: 1px dashed #ffc928; }

.notice.success {
  background: #c9e2a6;
  border-color: #50bc52; }

.notice.error {
  background: #f4c4c4;
  border-color: #f06665; }

/* 1. New user ***/
.new-user .page-title {
  text-align: left;
  margin: 20px 0 10px 0; }

.new-user .search-form {
  height: 60px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.02);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.new-user .search-form fieldset {
  height: 40px;
  background: white url(../cssimg/pattern-white.png) repeat;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.new-user .search-form input {
  float: left;
  background: none;
  border: 0;
  width: 80%;
  height: 40px;
  padding: 0 10px;
  font-size: 1em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15); }

.new-user .search-form .lupe {
  float: right;
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background: url(../cssimg/icons.png) no-repeat 0 -235px;
  text-indent: -9999em;
  cursor: pointer; }

.new-user #boards-listing {
  list-style: none;
  margin-bottom: 20px; }

.new-user #boards-listing li {
  font-size: 1.111em;
  line-height: 2em;
  vertical-align: middle;
  border-bottom: 1px solid #d8d8d8;
  position: relative; }

.new-user #boards-listing a {
  display: block;
  padding-right: 3.5em;
  color: #3d4044;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.new-user #boards-listing a:hover {
  color: #00b5dc;
  text-decoration: none; }

.new-user #boards-listing .posts {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: .6em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  width: 3em;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 25px; }

/* 2. Content top ***/
.title {
  height: 80px;
  color: #fff;
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat;
  padding: 20px;
  position: relative; }

.title .wrap {
  height: 40px; }

.title h1,
.title h2 {
  float: left;
  clear: none;
  line-height: 40px;
  vertical-align: middle;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.title h1.thread-name {
  cursor: pointer; }

.title h1.private {
  display: inline-block;
  padding-right: 50px;
  position: relative; }

.title h1.private .icon {
  position: absolute;
  top: 8px;
  right: 10px;
  width: 40px;
  height: 34px;
  box-shadow: none; }

.title .button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 20px; }

.title .button.new-thread {
  padding: 0 20px 0 40px; }

.title #thread-actions {
  display: inline-block;
  cursor: pointer; }

.title #thread-actions ul {
  float: left;
  display: none;
  list-style: none;
  height: 40px; }

.title #thread-actions li {
  float: left;
  font-size: .889em;
  font-weight: 700;
  line-height: 45px;
  margin-right: 10px; }

.title #thread-actions a {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }

/* 3. New posts ***/
#new-posts .close,
#nav-dock .close {
  position: absolute;
  top: -8px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  background: url(../cssimg/pattern-dark-blue.png) repeat;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  cursor: pointer; }

#new-posts .close:after,
#nav-dock .close:after {
  content: "x"; }

#new-posts .close:hover,
#nav-dock .close:hover {
  color: #ffbf00; }

/* Title messages ***/
#new-posts {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  background: url(../cssimg/pattern-dark-blue.png) repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#new-posts .close {
  right: -8px; }

#new-posts a {
  display: inline-block;
  font-size: .778em;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 5px;
  color: #fff; }

#new-posts a span {
  color: #ffbf00; }

/* Fixed nav dock ***/
#nav-dock {
  position: fixed;
  right: 0;
  top: 50%;
  height: 178px;
  width: 52px;
  padding: 10px;
  margin-top: -89px;
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

#nav-dock a {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
  background: #00b5dc url(../cssimg/pattern-dark-blue.png) repeat;
  text-indent: -9999em;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px; }

#nav-dock a.starred {
  background: #ffbf00; }

#nav-dock a span {
  display: block;
  background: url(../cssimg/icons.png) no-repeat 50% -578px; }

#nav-dock a#prev span,
#nav-dock a#prev-pinned span {
  background-position: 50% -614px; }

#nav-dock .close {
  left: -8px; }

/* 4. Threads ***/
.threads li {
  list-style: none;
  padding: 2px 0;
  background: white url(../cssimg/pattern-white.png) repeat; }

.threads li.opening {
  padding-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.threads > li:nth-child(even) {
  background: #f0efea url(../cssimg/pattern-grey.png) repeat; }

.threads li.opening > .post,
.threads ol,
.threads .inserted-form {
  max-width: 940px;
  margin: 0 auto; }

.threads ol {
  padding-left: 40px;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1); }

.threads li li {
  background: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.threads li li.has-replies:not(.collapsed),
.threads ol li:last-child {
  border-bottom: 0; }

.threads h2 {
  color: #212326;
  line-height: 1em; }

.threads p {
  font-size: .944em;
  line-height: 1.2em; }

.threads img {
  display: block;
  margin: .5em 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.threads .post {
  padding-top: 5px;
  position: relative; }

.threads ol li:first-child > .post {
  padding-top: 0; }

.threads ol li:last-child > .post {
  padding-bottom: 0; }

.threads .post .collapsible {
  display: block;
  position: absolute;
  top: 5px;
  left: -20px;
  width: 15px;
  height: 15px;
  line-height: 15px;
  vertical-align: middle;
  text-align: center;
  font-weight: 700;
  color: #e24948;
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.threads .post .collapsible:hover {
  background: rgba(0, 0, 0, 0.15);
  text-decoration: none; }

.threads ol li:first-child > .post .collapsible {
  top: 0; }

.threads li.collapsed > .post .collapsible {
  color: #75bc12; }

.threads .post iframe,
.threads .post object {
  display: block;
  clear: both;
  margin-bottom: 10px; }

/* Undread posts ***/
.threads h2 .new-post {
  font-size: .667em;
  text-transform: uppercase;
  color: #75bc12;
  margin-right: 5px; }

/* Post data ***/
.threads .data {
  color: #8e8e8e;
  display: inline-block;
  font-size: .778em;
  text-transform: uppercase; }

.threads .data time,
.threads .data .post-tags {
  display: inline; }

.threads .data .new-post:after,
.threads .data time:before,
.threads .data time:after,
.threads .data .post-tags:after {
  content: "•";
  padding: 0 5px; }

.threads .data .post-tag {
  display: inline;
  margin-right: 5px;
  line-height: 1em;
  padding: 2px 5px;
  color: #8e8e8e;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.threads .data .post-tag:last-child {
  margin-right: 0; }

.threads .data .star {
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  background: url(../cssimg/icons.png) no-repeat 50% -175px;
  text-indent: -9999em;
  cursor: pointer; }

.threads .star.starred {
  background-position: 50% -209px; }

/* Post actions & sharing ***/
.threads .post-actions,
.threads .share-options {
  display: inline-block;
  font-size: .778em;
  text-transform: uppercase; }

.threads:not(.public) .post-actions:before {
  content: "•";
  padding-right: 5px;
  color: #8e8e8e; }

.threads .post-actions a,
.threads .share-options a {
  font-weight: 700;
  margin-right: 10px;
  display: none; }

.threads .post:hover .post-actions a,
.threads .post:hover .share-options a.share,
.threads .post .share-options:hover a {
  display: inline-block; }

.threads .post-actions a.reply {
  color: #75bc12; }

.threads .post-actions a.edit {
  color: #f0af08; }

.threads .post-actions a.delete {
  color: #e24948; }

.threads .share-options a.share {
  color: #ad3eb5; }

.threads .share-options a.fb {
  color: #3b5998; }

.threads .share-options a.tw {
  color: #00c5f9; }

.threads .share-options a.go {
  color: #dd4b39; }

/* Post forms ***/
.threads .inserted-form {
  display: none;
  padding: 10px;
  background: #f0efea url(../cssimg/pattern-grey.png) repeat;
  box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* Disabled posts ***/
.threads li.disabled > .post {
  opacity: .2; }

.threads li.disabled > iframe,
.threads li.disabled > .post:hover .post-actions,
.threads li.disabled > .post:hover .share-options,
.threads li.focus > .post:hover .post-actions,
.threads li.focus > .post:hover .share-options {
  visibility: hidden; }

/* 5. Members list ***/
.members-list {
  list-style: none; }

.members-list li {
  display: block;
  width: 100%;
  min-height: 40px;
  position: relative; }

.members-list li:hover {
  color: #00b5dc; }

.members-list li img {
  position: absolute;
  top: 5px;
  left: 0; }

.members-list li label:not(.toggle) {
  display: block;
  line-height: 40px;
  min-height: 40px;
  vertical-align: middle;
  text-align: left;
  font-weight: 500;
  padding: 5px 0 5px 50px;
  border-bottom: 1px solid #ccc; }

.members-list li label.c-on,
.members-list li label.r-on {
  font-weight: 700;
  background: rgba(255, 255, 255, 0.25); }

.members-list li label.c-on.remove,
.members-list li label.r-on.remove {
  color: #e24948; }

.members-list li:last-child label {
  border: 0; }

.members-list li label .check {
  font-size: .875em;
  line-height: 18px; }

.has-js .members-list li .checkbox {
  min-height: 40px;
  line-height: 40px;
  margin: 0; }

.has-js .members-list li .check,
.has-js .members-list li .tick {
  position: static;
  float: right;
  margin-top: 10px; }

.members-list li select {
  position: relative;
  float: right;
  margin: 5px 5px 0 0;
  width: 120px;
  font-size: .778em;
  line-height: .778em; }

.no-js .members-list input {
  position: static;
  float: right;
  margin-top: 1em; }

/* 6. Tags list ***/
ul#tags {
  list-style: none;
  margin: 10px; }

#tags li label {
  display: block;
  min-height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;
  background: #d8d8d8; }

#tags li label.c-on {
  font-weight: 700;
  color: #e24948;
  background: rgba(0, 0, 0, 0.15); }

#tags li .checkbox .check {
  position: static;
  float: right;
  margin-top: 10px;
  background: transparent;
  box-shadow: none; }

#tags li .checkbox .check.checked span {
  background-position: -15px -930px; }

/* 7. Listing - messages & invites list ***/
.listing {
  list-style: none;
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.listing li {
  position: relative;
  display: block;
  min-height: 40px;
  margin: 0;
  padding: 10px;
  color: #8e8e8e;
  border-bottom: 1px solid #d8d8d8; }

.messages-list.listing label,
.invites-list.listing label {
  position: absolute;
  left: 10px;
  width: 18px;
  height: 18px;
  margin: 0;
  text-indent: -9999em; }

.messages-list.listing label {
  top: 20px; }

.invites-list.listing label {
  top: 15px; }

/* Listing head ***/
.listing .listing-head {
  position: relative;
  min-height: 40px;
  margin-left: 40px;
  padding-right: 6em; }

.listing .listing-head h3 {
  margin-bottom: .25em; }

.listing .listing-head p {
  color: #3d4044;
  font-size: .889em;
  line-height: 1.3em; }

.listing .listing-head .data {
  position: absolute;
  top: 0;
  right: 0;
  width: 6em;
  font-size: .778em;
  display: block;
  line-height: 1.5em;
  text-align: right;
  font-weight: 500; }

.listing .listing-head img {
  position: absolute;
  top: 0;
  left: -10px; }

.messages-list.listing .listing-head {
  cursor: pointer;
  padding-left: 40px; }

.messages-list.listing.trash .listing-head {
  cursor: default; }

/* New listing styles / Invite status styles ***/
.listing li.new {
  background: rgba(255, 255, 255, 0.4); }

.listing li.new .listing-head h2,
.listing li.new .listing-head h2 a {
  color: #00b5dc; }

.listing .status {
  display: block;
  text-transform: uppercase; }

.listing .status.accepted {
  color: #75bc12; }

.listing .status.declined {
  color: #e24948; }

/* Opened listing - conversation details ***/
.listing .conversation {
  display: none;
  font-size: .889em;
  color: #3d4044;
  margin-top: 10px;
  padding: 0 20px;
  border-top: 1px solid #d8d8d8; }

.listing .conversation .message {
  margin: 10px 0;
  padding: 10px 20px;
  border-bottom: 1px solid #d8d8d8;
  background: rgba(255, 255, 255, 0.4);
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.listing .conversation .message.received {
  text-align: left;
  padding-left: 60px; }

.listing .conversation .message.sent {
  text-align: right;
  padding-right: 60px;
  background-color: rgba(0, 181, 202, 0.05); }

.listing .conversation .message .data {
  font-size: .889em;
  line-height: 1em;
  color: #8e8e8e; }

.listing .conversation .message img {
  position: absolute;
  top: 10px; }

.listing .conversation .message.received img {
  left: 20px; }

.listing .conversation .message.sent img {
  right: 20px; }

.listing .conversation .actions {
  text-align: center; }

.listing .conversation .actions .button {
  display: inline-block; }

/* Panels *******************************************************************************************/
.panel {
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat; }

#main-nav,
#action-nav {
  clear: both;
  position: absolute;
  top: 0;
  left: -9999em;
  z-index: 9999; }

.has-js #main-nav {
  width: 360px;
  left: -360px; }

.has-js #action-nav {
  width: 320px;
  left: auto;
  right: -320px; }

/* 1. Top navigation in both panels ***/
.panel-top {
  background: #f0efea url(../cssimg/pattern-grey.png) repeat; }

.panel-top li {
  height: 60px;
  list-style: none; }

#main-nav .panel-top li {
  float: left;
  width: 33.3333333333%;
  background: #f0efea url(../cssimg/panel-icons.png) no-repeat;
  font-size: .778em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.25); }

#main-nav .panel-top li.active {
  color: #fff;
  background-color: #00b5dc;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: none; }

#main-nav .panel-top li a,
#main-nav .panel-top li span {
  display: block;
  padding-top: 33px; }

#main-nav .panel-top li.switch-board {
  background-position: 50% 0; }

#main-nav .panel-top li.new-board {
  background-position: 50% -53px; }

#main-nav .panel-top li.manage-board {
  background-position: 50% -107px; }

#main-nav .panel-top li.switch-board.active {
  background-position: 50% -161px; }

#main-nav .panel-top li.new-board.active {
  background-position: 50% -215px; }

#main-nav .panel-top li.manage-board.active {
  background-position: 50% -269px; }

#action-nav .user {
  font-size: 1em;
  line-height: 40px;
  padding: 10px 0;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: #f0efea url(../cssimg/pattern-grey.png) repeat; }

#action-nav .user img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px; }

/* 2. Search ***/
.panel .search-form {
  height: 80px;
  padding: 20px 10px;
  background: rgba(61, 64, 68, 0.3); }

.panel .search-form fieldset {
  height: 40px;
  background: rgba(61, 64, 68, 0.1);
  box-shadow: 0px -1px 0 rgba(0, 0, 0, 0.2), 0px 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.panel .search-form .lupe {
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  border: 0;
  background: url(../cssimg/icons.png) no-repeat 0 -238px;
  text-indent: -9999em;
  cursor: pointer; }

.panel .search-form input {
  float: left;
  background: none;
  border: 0;
  width: 80%;
  height: 40px;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.15); }

.panel .search-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input:-moz-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.75); }

.panel .search-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.75); }

/* 3. Visible boards list ***/
.panel .panel-links {
  list-style: none;
  padding: 0 10px; }

.panel .panel-links li {
  font-size: 1em;
  line-height: 2em;
  vertical-align: middle;
  border-bottom: 1px solid rgba(61, 64, 68, 0.3);
  position: relative; }

.panel .panel-links li:first-child {
  padding-top: 10px; }

.panel .panel-links a {
  display: block;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  padding-right: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.panel .panel-links .active a {
  color: #ffc928;
  font-weight: 700; }

.panel .panel-links a:active,
.panel .panel-links a.active {
  color: #ffc928;
  background-color: rgba(0, 0, 0, 0.15); }

.panel .panel-links .posts {
  position: absolute;
  top: 1em;
  right: 0;
  font-size: .6em;
  line-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  width: 3em;
  background: rgba(61, 64, 68, 0.3);
  border-radius: 25px; }

.panel .panel-links .icon {
  position: absolute;
  width: 40px;
  height: 34px;
  background-color: transparent;
  box-shadow: none; }

.panel .panel-links a .icon.locked {
  top: 2px;
  right: 25px; }

.panel .panel-links a .icon.selected {
  top: 1px;
  right: 45px; }

/* 4. Hidden boards list ***/
.panel .panel-link {
  display: block;
  font-size: .889em;
  margin: 10px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }

.panel .button {
  margin: 10px;
  box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.2); }

.panel #hidden.panel-links {
  display: block;
  opacity: .6; }

.panel #hidden.panel-links.hidden {
  display: none; }

/* Forms ********************************************************************************************/
/* 0. Stuff hidden by default ***/
#list-validation
/*#send-to-trash-received.button,
#send-to-trash-trash.button,
#mark-as-read.button,
#accept-selected-invites.button,
#decline-selected-invites.button,
#withdraw-selected-invites.button,
#remove-selected-members.button,
#remove-selected-tags.button*/ {
  display: none; }

/* 1. Layout and elements ***/
form {
  text-align: left; }

.form .entry {
  display: block;
  margin-bottom: 20px; }

.form .divider {
  border-top: 2px solid #d8d8d8;
  padding-top: 10px; }

.form label a.thumbnail {
  display: inline-block;
  margin-left: 10px;
  max-width: 60px;
  vertical-align: bottom;
  overflow: hidden; }

.form label a.thumbnail img {
  width: 100%;
  height: auto;
  border-radius: 5px; }

.form .info {
  color: #8e8e8e;
  font-size: .778em;
  float: left;
  clear: both;
  width: 75%;
  margin-left: 25%; }

/* Styled checkbox & radio inputs ***/
.has-js .checkbox, .has-js .radio {
  display: block;
  min-height: 18px;
  line-height: 18px;
  margin: 20px 0;
  vertical-align: middle; }

.has-js .checkbox input, .has-js .radio input {
  position: absolute;
  left: -9999px; }

.has-js .checkbox em, .has-js .radio em {
  display: block;
  font-size: .875em;
  text-transform: uppercase;
  color: #8e8e8e; }

.checkbox .check,
.radio .tick {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: #cfcec6;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.disabled .check,
.disabled .radio {
  opacity: .2; }

.checkbox .check span,
.radio .tick span {
  display: none; }

.checkbox .check {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.radio .tick {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px; }

.checkbox .check.checked,
.radio .tick.ticked {
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat; }

.checkbox.remove .check.checked {
  background: #e24948; }

.checkbox .check.checked span {
  display: block;
  width: 10px;
  height: 10px;
  margin: 4px;
  background-image: url(../cssimg/icons.png);
  background-repeat: no-repeat;
  background-position: -15px -862px; }

.checkbox.remove .check.checked span {
  background-position: -15px -896px; }

.radio .tick.ticked span {
  display: block;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin: 6px;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }

.entry .checkbox,
.entry .radio {
  padding-left: 30px;
  position: relative; }

/* Tags ***/
.form .text-core {
  width: 75%;
  margin-left: 25%; }

.form .manage-tags .text-core {
  width: 70%;
  margin-left: 15%; }

/* File upload ***/
.file-upload {
  position: relative;
  height: 40px;
  margin-bottom: 10px;
  overflow: hidden; }

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 10em;
  opacity: 0;
  cursor: pointer; }

/* Reveal password ***/
.has-password {
  position: relative; }

.has-password .toggle-password {
  position: absolute;
  top: 5px;
  right: 10px;
  display: block;
  padding: 2px 5px;
  font-size: .667em;
  text-transform: uppercase;
  font-weight: 700;
  background: #f0efea;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }

/* 2. Tags ***/
.text-core {
  position: relative;
  width: 100%;
  min-height: 30px; }

.text-core .text-wrap {
  background: none;
  position: absolute;
  width: 100%;
  min-height: 30px;
  padding: 0 5px; }

.text-core .text-wrap textarea,
.text-core .text-wrap input {
  width: 100%;
  min-height: 30px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0;
  outline: none;
  resize: none;
  position: absolute;
  z-index: 1;
  background: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1.5em;
  height: auto; }

.text-core .text-wrap textarea.has-tags {
  padding-top: 0 !important; }

.text-core .text-wrap .text-tags {
  position: absolute;
  min-height: 30px;
  padding: 1px 35px 0 5px;
  cursor: text; }

.text-core .text-wrap .text-tags.text-tags-on-top {
  z-index: 2; }

.text-core .text-wrap .text-tags .text-tag {
  float: left;
  display: block;
  white-space: nowrap; }

.text-core .text-wrap .text-tags .text-tag .text-button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  float: left;
  background: #d8d8d8;
  color: #3d4044;
  padding: 2px 16px 2px 5px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-size: .75em;
  line-height: 14px;
  height: 18px;
  vertical-align: middle;
  text-transform: uppercase; }

.text-core .text-wrap .text-tags .text-tag .text-button a.text-remove {
  position: absolute;
  right: 4px;
  top: 4px;
  display: block;
  width: 11px;
  height: 11px;
  background: url(../cssimg/icons.png) no-repeat -15px -930px; }

/* 3. Global form ***/
.global-form label {
  text-align: left;
  line-height: 40px; }

.global-form label:not(.radio):not(.checkbox):not(.select):not(.toggle) {
  float: left;
  font-size: 1.111em;
  text-align: right;
  padding-right: 20px;
  width: 25%;
  font-weight: 700; }

.global-form label:not(.radio):not(.checkbox) span {
  display: block;
  color: #8e8e8e;
  font-size: .778em;
  line-height: 1em; }

.global-form .has-boxes label:not(.radio):not(.checkbox):not(.select):not(.toggle) {
  line-height: 18px; }

.global-form .has-boxes label.radio,
.global-form .has-boxes label.checkbox {
  width: 75%;
  margin-left: 25%; }

.global-form label a.tooltip {
  display: inline-block;
  margin: -5px 0 0 5px; }

.global-form input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]),
.global-form textarea,
.global-form select {
  width: 75%;
  padding: 10px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .global-form select {
    border: 1px solid;
    border-color: #fff #fff #cfcdc6 #fff; } }
.global-form .button[disabled] {
  opacity: .2;
  cursor: default; }

.global-form input[disabled],
.global-form .disabled {
  color: #cfcdc6;
  cursor: default; }

.global-form .singleton input:not([type=checkbox]):not([type=radio]):not([type=submit]):not([type=file]),
.global-form input.singleton,
.global-form .singleton textarea,
.global-form textarea.singleton,
.global-form .singleton select {
  width: 100%;
  margin-left: 0; }

.global-form input.permalink {
  margin-left: 15%;
  text-indent: 30px;
  background-image: url(../cssimg/icons.png);
  background-position: 0 -1050px;
  background-repeat: no-repeat; }

.global-form .content {
  border-bottom: 2px solid #d8d8d8; }

.global-form .holder {
  padding: 10px 10px 0 10px; }

.global-form .actions {
  margin: 10px 10px 20px 10px;
  text-align: center; }

.global-form .actions .modal-close,
.global-form .actions .read {
  display: inline-block;
  line-height: 40px;
  padding: 0;
  vertical-align: middle; }

.global-form .actions .modal-close,
.global-form .actions .default {
  margin-right: 20px;
  color: #3d4044;
  text-transform: uppercase;
  font-size: .889em;
  font-weight: 700; }

.global-form .actions .default em {
  display: block;
  text-transform: none;
  font-weight: 500;
  color: #8e8e8e; }

.global-form .actions .default:hover {
  color: #00b5dc; }

.global-form .actions .button {
  display: inline-block;
  padding: 0 20px;
  border: 0; }

.global-form .text-core {
  min-height: 40px; }

.global-form .text-core .text-wrap {
  min-height: 40px;
  background: #fff;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.global-form .holder.manage-tags {
  text-align: center; }

.global-form .holder.manage-tags .entry {
  text-align: left; }

.global-form .holder.manage-tags .button {
  display: inline-block;
  margin: 0 20px 10px 0; }

.global-form .picture {
  height: 120px; }

.global-form .picture.divider img {
  margin-top: 10px; }

.global-form .picture img {
  float: left;
  margin-left: 11%;
  padding: .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

.global-form .picture .actions {
  padding-left: 25%; }

.global-form .picture .button {
  display: block;
  width: 100%;
  padding: 0; }

/* Form validation ***/
#list-validation {
  color: #f06665;
  list-style: none;
  text-align: left;
  margin: 0 0 10px 0;
  padding: 10px; }

.global-form em.note {
  display: block;
  width: 70%;
  margin-left: 30%;
  text-align: left;
  font-size: .889em; }

.global-form em.note.error {
  color: #f06665; }

.global-form em.note.valid {
  color: #50bc52; }

/* 4. Entry form ***/
.entry-form .holder {
  padding: 20px;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.entry-form .entry {
  margin: 0; }

.entry-form .entry:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid #d8d8d8; }

.entry-form label {
  float: left;
  padding: 0 20px 0 0;
  width: 25%;
  font-size: .778em;
  line-height: 30px;
  font-weight: 700;
  text-align: right;
  text-transform: uppercase;
  color: #8e8e8e; }

.entry-form label a.tooltip,
.entry-form label a.tool-tip {
  float: right;
  display: block;
  margin: 6px 0 0 10px; }

.entry-form input,
.entry-form select,
.entry-form textarea {
  border: 0;
  line-height: 30px;
  min-height: 30px;
  width: 75%; }

.entry-form textarea {
  min-height: 60px; }

.entry-form .hidden {
  display: none; }

.entry-form .actions .button {
  display: inline-block;
  padding: 0 20px;
  margin-left: 10px;
  height: 40px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.entry-form .button.photo,
.entry-form .button.video {
  float: left; }

.entry-form .button.remove,
.entry-form .button.add {
  float: right;
  padding: 0 20px 0 40px; }

.entry-form em.note {
  display: block;
  width: 75%;
  margin-left: 25%;
  text-align: left;
  font-size: .889em; }

.entry-form em.note.error {
  color: #f06665; }

.entry-form em.note.valid {
  color: #50bc52; }

/* Plugins ******************************************************************************************/
/* 1. Fancybox ***/
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.fancybox-wrap iframe {
  overflow: hidden !important; }

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-skin {
  position: relative;
  background: transparent;
  text-shadow: none; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-outer, .fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }

.fancybox-error {
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  background: #f4c4c4;
  border-color: #f06665; }

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%; }

.fancybox-image {
  max-width: 100%;
  max-height: 100%; }

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: .8;
  cursor: pointer;
  z-index: 8060; }

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(../cssimg/loader.gif) center center no-repeat; }

.fancybox-close {
  position: absolute;
  top: -13px;
  right: -13px;
  display: block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
  background: #00b5dc url(../cssimg/icons.png) -3px -341px no-repeat;
  cursor: pointer;
  text-indent: -9999em;
  z-index: 8040; }

.fancybox-nav,
.fancybox-title {
  display: none; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

.fancybox-lock {
  overflow: hidden; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.5); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

/* 2. Tooltip ***/
.form a.tooltip,
.form a.tool-tip {
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 8px;
  font-size: .667em;
  font-weight: 700;
  text-align: center;
  color: #3d4044;
  background: #ffc928; }

.form a.tooltip:hover,
.form a.tool-tip:hover {
  text-decoration: none; }

.tip {
  display: block;
  position: absolute;
  max-width: 240px;
  font-size: .778em;
  line-height: 1.25em;
  font-style: italic;
  color: #fff;
  background: #3d4044;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9999; }

.img-zoom {
  display: block;
  position: absolute;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  z-index: 9999; }

/* 3. Toggle switch ***/
select.ui-toggle-switch {
  display: none; }

div.ui-toggle-switch {
  width: 75%;
  background: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  position: relative; }

.ui-toggle-switch,
.ui-toggle-switch .ui-slider,
.ui-toggle-switch label {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.ui-toggle-switch label {
  width: 50%;
  padding: 0;
  margin: 0;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  color: #cfcec6; }

.ui-toggle-switch label.ui-state-active {
  color: #fff;
  font-weight: 700;
  font-style: normal;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat; }

.ui-toggle-switch label:first-child {
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.ui-toggle-switch label:last-child {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.ui-toggle-switch .ui-slider {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100% !important;
  height: 40px;
  background: transparent;
  cursor: pointer; }

.members-list div.ui-toggle-switch {
  float: right;
  margin: 5px 5px 0 0;
  width: 180px;
  font-size: .778em;
  line-height: .778em;
  height: 30px; }

.members-list .ui-toggle-switch label {
  float: left;
  line-height: 30px; }

.members-list .ui-toggle-switch .ui-slider {
  height: 30px; }

/* 4. Tabs ***/
.tabs {
  list-style: none; }

.tabs li {
  float: left;
  margin: 0;
  padding: 0;
  font-size: .889em;
  line-height: 20px;
  vertical-align: middle;
  overflow: hidden;
  text-align: center; }

.tabs.tabs1 li {
  float: none;
  width: 100%; }

.tabs.tabs2 li {
  width: 50%; }

.tabs.tabs3 li {
  width: 33.333%; }

.tabs.tabs4 li {
  width: 25%; }

.tabs.tabs5 li {
  width: 20%; }

.tabs li a {
  display: block;
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #00b5dc url(../cssimg/pattern-blue.png) repeat;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset -1px -2px 3px -1px rgba(0, 0, 0, 0.25); }

.tabs li.active a {
  color: #3d4044;
  background: #f0efea url(../cssimg/pattern-grey.png) repeat;
  text-shadow: none;
  box-shadow: none; }

.tabs li:first-child a {
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px; }

.tabs li:last-child a {
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px; }

/* Nested tabs ***/
#nested-tabs.tabs {
  height: 40px; }

#nested-tabs.tabs li {
  font-size: .778em; }

#nested-tabs.tabs li a {
  padding: 10px 0; }

#nested-tabs.tabs li.active a {
  background: rgba(0, 0, 0, 0.05); }

#nested-tabs-content {
  padding: 20px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

/* 5. Autocomplete ***/
 .entry.has-autocomplete{position:relative;}
 .ui-helper-hidden{display:none;}
 .ui-helper-hidden-accessible {border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
 ul.ui-autocomplete{z-index:2000;position:absolute;top:0;left:0;list-style:none;max-height:200px;overflow-y:auto;overflow-x:hidden;padding:10px;background-color:#fff;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:0;border-bottom:1px solid rgba(0,0,0,.2);}
 ul.ui-autocomplete li{text-transform:uppercase;font-weight:700;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid rgba(0,0,0,.1);}
 ul.ui-autocomplete li:last-child{padding-bottom:0;margin-bottom:0;border-bottom:0;}
 ul.ui-autocomplete a{display:block;cursor:pointer;color:#3d4044;}	
 ul.ui-autocomplete a:hover{color:#0ca5dd;}

/* Cozy layout **************************************************************************************/
body.cozy {
  font-size: 1.8em; }

body.cozy .threads li {
  padding: 5px 0; }

body.cozy .threads li.opening {
  padding: 10px; }

body.cozy .threads .post {
  padding: 10px 0 0 0; }

body.cozy .threads h2 {
  line-height: 1.25em; }

body.cozy .threads p {
  line-height: 1.5em; }

body.cozy .threads .post .collapsible {
  top: 10px;
  left: -30px;
  width: 20px;
  height: 20px;
  line-height: 18px; }

/* Float fix ****************************************************************************************/
.float:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.float {
  display: block; }

* html .float {
  height: 1%; }

.float {
  display: block; }

*:first-child + html .float {
  min-height: 1px; }

/* Responsives **************************************************************************************/
/* 0. Really small stuff ***/
@media only screen and (min-width: 320px) {
  .threads img {
    width: 100%;
    height: auto; } }
@media only screen and (min-width: 960px) {
  .threads img {
    width: auto; } }
/* 1. 1280px *****/
@media only screen and (min-width: 1280px) {
  .wrap {
    max-width: 1200px; }

  #content-wrapper.active-left {
    left: 420px; }

  .has-js #main-nav {
    width: 420px;
    left: -420px; }

  .new-user #boards-listing li {
    float: left;
    width: 46%; }

  .new-user #boards-listing li:nth-child(even) {
    margin-left: 5%; }

  /* 3. Threads ***/
  .threads li.opening > .post,
  .threads ol,
  .threads .inserted-form {
    max-width: 1200px; } }
/* 2. 1382px *****/
@media only screen and (min-width: 1382px) {
  .wrap {
    max-width: 1440px; }

  #content-wrapper.active-left {
    left: 520px; }

  .has-js #main-nav {
    width: 520px;
    left: -520px; }

  .threads li.opening > .post,
  .threads ol,
  .threads .inserted-form {
    max-width: 1440px; } }
/* 3. Dialog heights *****/
@media only screen and (min-height: 400px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 200px; } }
@media only screen and (min-height: 500px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 250px; } }
@media only screen and (min-height: 600px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 300px; } }
@media only screen and (min-height: 700px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 400px; } }
@media only screen and (min-height: 800px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 500px; } }
@media only screen and (min-height: 900px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 600px; } }
@media only screen and (min-height: 1000px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 900px; } }
@media only screen and (min-height: 1200px) {
  #dialog-page.fixed-buttons .dialog-content {
    max-height: 1100px; } }
