/* Shtum | CSS type stylesheet | Copyright (c) 2013. Perceptive interactive (perceptiveinteractive.com) */

@font-face {
    font-family: 'Bariol';
    src: url('../type/bariol_bold-webfont.eot');
    src: url('../type/bariol_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bariol_bold-webfont.svg') format('svg'),
         url('../type/bariol_bold-webfont.woff') format('woff'),
         url('../type/bariol_bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('../type/bariol_bold_italic-webfont.eot');
    src: url('../type/bariol_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bariol_bold_italic-webfont.svg') format('svg'),
         url('../type/bariol_bold_italic-webfont.woff') format('woff'),
         url('../type/bariol_bold_italic-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Bariol';
    src: url('../type/bariol_regular-webfont.eot');
    src: url('../type/bariol_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bariol_regular-webfont.svg') format('svg'),
         url('../type/bariol_regular-webfont.woff') format('woff'),
         url('../type/bariol_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bariol';
    src: url('../type/bariol_regular_italic-webfont.eot');
    src: url('../type/bariol_regular_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/bariol_regular_italic-webfont.svg') format('svg'),
         url('../type/bariol_regular_italic-webfont.woff') format('woff'),
         url('../type/bariol_regular_italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}