<script>
    jQuery(function($){ 
        $.getScript("assets/js/validate.js");
        $.getScript("assets/js/forms.js?ver=05072013");

        // Tooltip
        $('.tool-tip')
            .hover(function(){
                // Hover over code
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $('<p class="tip"></p>')
                .text(title)
                .appendTo('body')
                .fadeIn('slow');
                $('<span class="arrow" />').appendTo('.tip');
            }, function() {
                    // Hover out code
                    $(this).attr('title', $(this).data('tipText'));
                    $('.tip').remove();
            }).mousemove(function(e) {
                    var mousex = e.pageX - $('.tip').width(); //Get X coordinates
                    var mousey = e.pageY + 20; //Get Y coordinates
                    $('.tip')
                    .css({ top: mousey, left: mousex })
            });

        $('#edit-tags').textext({
                plugins : 'tags',
                tagsItems : [ 'This is tag', 'Another tag' ]
            });
    });   
</script>

<!-- Inner HTML page - Edit post -->
<form method="post" action="" name="edit-form" id="edit-form" class="page wrap form entry-form">
    <div class="holder">
        <div class="entry float">
            <label for="edit-header">Header</label>
            <input type="text" name="header" id="edit-header" placeholder="Enter post heading here" value="Lorem ipsum dolor sit amet, consectetuer adipiscing elit." required />
        </div>
        <div class="entry float">
            <label for="edit-body">Body</label>
            <textarea name="body" id="edit-body"  placeholder="Enter post body here" rows="4" required>Aenean commodo ligula eget dolor. Aenean massa.</textarea>
        </div>
        <div class="entry float">
            <label for="edit-tags">Tags<a href="#" class="tool-tip" title="After you enter a tag, press 'Enter' or 'New Line'. Repeat that for each tag you wish to add. Remove a tag by pressing 'X'.">!</a></label> 
            <textarea name="tags" id="edit-tags" class="has-tags" placeholder="Enter tag(s) here" rows="1"></textarea>
            <em class="info">Add tag and press "Enter" or "New Line".</em>
        </div>
        <div id="add-photo" class="entry float">
            <label for="edit-photo">Photo <a href="images/full.jpg" class="thumbnail"><img src="images/full.jpg" alt="" /></a></label>
            <input type="url" name="photo" id="edit-photo" class="permalink" placeholder="Enter photo URL here" value="http://www.holymoly.com/sites/default/files/imagecache/article_651w/_wutangclan.jpg" />
            <em class="info">Copy &amp; past photo URL</em>
        </div>
        <div id="add-video" class="entry hidden float">
            <label for="edit-video">Video</label>
            <input type="text" name="video" id="edit-video" class="permalink" placeholder="Enter video URL here" value="" />
            <em class="info">Copy the embed code from the video provider and paste it here</em>
        </div>
    </div>
    <div class="actions float">
        <a href="#add-photo" id="photo-button" class="button photo open">Remove photo</a>
        <a href="#add-video" id="video-button" class="button video">Add video</a>
        <button type="submit" name="save" class="button add save">Save</button>
         <a href="#" class="button remove" data-rel="remove-form">Cancel</a>
    </div>
</form>