<script>
    jQuery(function($){ 
        $.getScript("assets/js/validate.js");
        $.getScript("assets/js/forms.js?ver=05072013");  

        // Tooltip
        $('.tool-tip')
            .hover(function(){
                // Hover over code
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $('<p class="tip"></p>')
                .text(title)
                .appendTo('body')
                .fadeIn('slow');
                $('<span class="arrow" />').appendTo('.tip');
            }, function() {
                    // Hover out code
                    $(this).attr('title', $(this).data('tipText'));
                    $('.tip').remove();
            }).mousemove(function(e) {
                    var mousex = e.pageX - $('.tip').width(); //Get X coordinates
                    var mousey = e.pageY + 20; //Get Y coordinates
                    $('.tip')
                    .css({ top: mousey, left: mousex })
            });
    });   
</script>

<!-- Inner HTML page - Reply to post -->
<form method="post" action="" name="reply-form" id="reply-form" class="page wrap form entry-form">
    <div class="holder">
        <div class="entry float">
            <label for="reply-header">Header</label>
            <input type="text" name="header" id="reply-header" placeholder="Enter reply heading here" value="" required />
        </div>
        <div class="entry float">
            <label for="reply-body">Body</label>
            <textarea name="body" id="reply-body" placeholder="Enter reply body here" rows="4" required></textarea>
        </div>
        <div class="entry float">
            <label for="reply-tags">Tags<a href="#" class="tool-tip" title="After you enter a tag, press 'Enter' or 'New Line'. Repeat that for each tag you wish to add. Remove a tag by pressing 'X'.">!</a></label>
            <textarea name="reply-tags" id="tags" class="tags" placeholder="Enter tag(s) here" rows="1"></textarea>
            <em class="info">Add tag and press "Enter" or "New Line".</em>
        </div>
        <div id="add-photo" class="entry hidden float">
            <label for="reply-photo">Photo</label>
            <input type="url" name="reply-photo" id="photo" class="permalink" placeholder="Enter photo URL here" value="" />
            <em class="info">Copy &amp; past photo URL</em>
        </div>
        <div id="add-video" class="entry hidden float">
            <label for="reply-video">Video</label>
            <input type="text" name="reply-video" id="video" placeholder="Enter video URL here" value="" />
            <em class="info">Copy the embed code from the video provider and paste it here</em>
        </div>
    </div>
    <div class="actions float">
        <a href="#add-photo" id="photo-button" class="button photo">Add photo</a>
        <a href="#add-video" id="video-button" class="button video">Add video</a>
        <button type="submit" name="reply" class="button add reply">Reply</button>
        <a href="#" class="button remove" data-rel="remove-form">Cancel</a>
    </div>
</form>